/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 10px;
        width: 375px;
    }

    html {
        width: 375px;
    }

    header body {
        display: flex;
        flex-direction: column;
        object-fit: cover;
        width: 375px;
    }

    /***header***/
    .nav-bar {
        width: 100%;
        max-width: 375px;
        height: 115px;
        display: grid;
        padding-bottom: 30px;

    }

    .logo-booki {
        padding-top: 20px;
        margin: auto;
    }

    .nav {
        border-bottom: solid 2px #F2F2F2;
        line-height: 50px;
    }

    .en-tete {
        padding-right: 40px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 375px;
    }

    .info-group {
        width: 375px;
    }

    .titre {
        padding-top: 80px;
    }

    .paragraphe {
        padding-top: 50px;
    }

    .list-item {
        padding-top: 30px;
    }

    .menu-item:hover {
        border-top: none;
    }

    .menu-item a {
        height: 50px;
        width: 50%;
    }

    .menu-item:hover {
        border-bottom: solid 2px #0065FC;
        height: 50%;
        line-height: 50px;
        color: #0065FC;
    }

    .recherche .button-search {
        display: none;
    }

    .img-responsive {
        display: block;
    }

    .element a {
        width: 162px;
        justify-items: center;
        justify-content: center;

    }

    .list-filter {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1rem;
        max-width: 765px;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
        padding-right: 20px;

    }

    .info-bar {
        display: flex;
        width: 350px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-container {
        padding-top: 250px;
    }

    .hebergement-and-populaire {
        width: 375px;
    }

}