/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    html body {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .main-container {
        margin-left: 0;
    }

    /***header & info-group***/
    html header {
        margin-bottom: 80px;
    }

    .info-group {
        margin-left: 0;
    }

    .nav-bar {
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
    }

    .logo-booki {
        padding-top: 20px;
        margin: auto;
    }

    .en-tete {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .paragraphe {
        padding-top: 40px;
    }

    .list-item {
        gap: 0px;
        padding-top: 30px;
        width: 100%;
    }

    .recherche {
        max-width: 335px;
    }

    .hebergements-link,
    .activites-link {
        display: flex;
        place-content: center;
        border-top: 2px solid transparent;
        border-bottom: 2px solid #f2f2f2;
        line-height: 50px;
        width: 50vw;
    }

    .hebergements-link:hover,
    .activites-link:hover {
        display: flex;
        border-top: 2px solid transparent;
        color: #0065FC;
        place-content: center;
        border-bottom: solid 2px #0065FC;
        line-height: 50px;
        width: 50vw;
    }

    .list-filter {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1rem;
        padding: 0 20px 0 20px;
    }

    .filtres {
        padding-left: 20px;
    }

    .info-bar {
        display: flex;
        padding: 15px;
    }

    .info-bar img {
        width: 24px;
    }

    /***search-bar***/
    .recherche {
        width: 375px;
        height: 49px;
        margin-left: 15px;
    }

    .recherche .button-search {
        display: none;
    }

    .img-responsive {
        display: inline;
        object-fit: cover;
        margin-left: -15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    /***hebergements and popular***/
    .main-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        gap: 0;
    }

    /***popular***/
    .popular {
        max-width: 100%;
    }

    .popular-cards {
        display: grid;
        place-content: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .popular-cards .card {
        margin-top: 10px;
    }

    .popular .popular-cards {
        gap: 0;
    }

    .card {
        display: flex;
        width: 335px;
    }

    .card-title .card-subtitle {
        width: 224px;
    }

    /***hebergements***/
    .hebergements {
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .card-h {
        width: 335px;
    }

    .item-cards {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }

    .section-title {
        place-content: center;
    }

    /***activities***/
    .principal-title {
        padding: 30px;
    }

    .activity {
        max-width: 315px;
        height: 200px;
    }

    .activity-cards {
        display: flex;
        flex-direction: column;
        place-content: center;
    }

    .activites-a-marseille {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activity img {
        width: 315px;
        height: 141px;
    }

    /***footer***/
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}