/*** General ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html body {
    padding: 0 50px 0 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.principal-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.main-container {
    margin-left: 70px;
}

/***header & info-group***/
header {
    display: flex;
    height: 79px;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.info-group {
    display: grid;
    width: 100%;
    margin-left: 70px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    max-width: 100%;
    width: 1234px;
    height: 79px;
    font-size: 16px;
}

.list-item {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-size: 16px;
    gap: 68px;
}

.hebergements-link,
.activites-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    border-top: 2px solid transparent;
    line-height: 77px;
}

.hebergements-link:hover,
.activites-link:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
    line-height: 77px;
}

.en-tete {
    width: 100%;
    margin-bottom: 30px;
    gap: 8px;
}

.titre {
    font-size: 22px;
    height: 10px;
}

.paragraphe {
    font-size: 16px;
    padding-top: 20px;
}

/***search-bar***/
.recherche {
    display: grid;
    background: white;
    border: solid 1px #F2F2F2;
    border-radius: 16px;
    grid-template-columns: auto 1fr auto auto;
    height: 49px;
    width: 377px;
}

.fa-location-dot {
    place-content: center;
    padding-left: 20px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 50px;
}

.mon-input::placeholder {
    font-size: 18px;
    color: black;
}

.fa-magnifying-glass {
    display: none;
}

.recherche img {
    cursor: pointer;
}

.recherche .mon-label {
    display: none;
}

.recherche .mon-input {
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    background: transparent;
    color: #000;
    font-weight: bold;
    flex: 1;
}

.button-search {
    display: flex;
    background: #0065FC;
    color: white;
    border: none;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 15px;
    gap: 10px;
    white-space: nowrap;
}

.mon-bouton:hover {
    background: #0065FC;
}

/***bar-filter***/
.bar-filter {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 758px;
    height: auto;
    padding-top: 20px;
}

.filtres {
    font-size: 18px;
    height: 50px;
    margin-top: 30px;
    width: 100%;
}

.list-filter {
    gap: 2rem;
    display: flex;
    list-style: none;
    padding: 0;
}

.element {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    gap: 0.5rem;
    white-space: nowrap;
    box-shadow: none;
    border: 2px solid #D9D9D9;
    background-color: white;
    height: 50px;
}

.element:hover {
    background-color: #DEEBFF;
}

.element {
    outline: none;
    border-radius: 25px;
}

.element:focus {
    box-shadow: none;
}

.info-bar {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

/*** Hebergements And Populaires ***/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-star {
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.main-container {
    display: flex;
    max-width: 100%;
    gap: 50px;
    padding-top: 30px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 20px;
}

/*** Hebergements ***/
.hebergements {
    max-width: 871px;
    width: 100%;
    height: 614px;
    background-color: var(--main-bg-color);
}

.card-h {
    max-width: 100%;
    height: 207.25px;
    gap: 4px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.item-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 33px;
    width: 100%;
}

.item-title {
    justify-content: space-between;
    align-items: center;
}

.item-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.item-cards img {

    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.item-cards .item-content {
    display: flex;
    padding-left: 15px;
    gap: 8px;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-cards .item-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.item-cards .item-subtitle {
    margin: 0;
}

.item-cards .item-rating {
    margin-bottom: 5px;
}

.show-more {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Raleway;
}

/****** Populaires ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    max-width: 369px;
    width: 100%;
    min-width: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.popular {
    max-width: 429px;
    width: 100%;
    height: 614px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 77%;
    overflow: hidden;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/*** Activites a Marseille ***/
.principal-title {
    font-size: 22px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.activity-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1280px;
}

.activites-a-marseille {
    width: 100%;
    margin: 30px auto;
    padding-bottom: 60px;
    margin-left: 70px;
    padding-right: 70px;
}


.activity {
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: 0px 3px 15px 0px #0000001A;
    max-width: 297.5px;
    height: 439px;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}


.activity-title {
    display: flex;
    place-items: center;
    padding: 17px;
    font-size: 16px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    white-space: wrap;
}

.activity-content {
    height: 15%;
}

.activity-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.activity-img {
    width: 100%;
    height: 75%;
    flex: 1;
}

/***footer***/
footer {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px 20px;
}

.reference {
    display: flex;
    width: 100%;
}

.reference-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reference-title {
    font-size: 16px;
}

.reference-subtitle {
    list-style: none;
}

.reference-subtitle li {
    font-size: 14px;
    margin-bottom: 20px;
}