/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    gap: 35px;
}

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding: 0%;
}



.menu_item a,
.nav {
    text-decoration: none;
    color: inherit;
    padding-right: 60px;
    padding-left: 50px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 79px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}


.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item:hover {
    padding-top: 40px;
    border-top: solid 2px #0065FC;
    color: #0065FC;
}


.list-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 344px;
    height: 79px;
    left: 1096px;
    gap: 68px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;

}

.info-group {
    width: 1340px;
    height: 281px;
    gap: 35px;

}

.titre {
    width: 1340px;
    height: 10px;
    font-family: inherit;
}

.en-tete {
    width: 1340px;
    margin-bottom: 30px;
    gap: 8px;
}

.recherche {
    display: flex;
    width: 377px;
    height: 49px;
    background: #f6f6f6;
    border-radius: 15px;
    overflow: hidden;
}

.recherche img {
    cursor: pointer;
}

.recherche .mon-label {
    display: none;
}

.recherche .mon-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    background: transparent;
    color: #000;
    font-weight: bold;
}

.recherche .mon-bouton {
    background: #0065FC;
    color: white;
    border: none;
    height: 49px;
    width: 132px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 15px;
    gap: 10px;
}

.recherche .mon-bouton:hover {
    background: #0065FC;
}


.titre {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

.paragraphe {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 20px;
}

.bar-filter {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 758px;
    height: auto;
    padding-top: 20px;
}

.filtres {
    font-size: 18px;
    font-family: Raleway;
    margin-top: 50px;
    flex-direction: row;
    height: 50px;
    margin-top: 30px;
    gap: 1rem;
    width: 758px;
}

.list-filter {
    gap: 2rem;
    display: flex;
    list-style: none;
    padding: 0px;
}

.info p {
    size: 16px;
    padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

button.element {
    outline: none;
    border: none;
    border-radius: 25px;
}

button.element:focus {
    outline: none;
}

.element a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 173px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    text-decoration: none;
    color: inherit;
    font-family: Raleway;
    background-color: white;
}

.element a:hover {
    background-color: #DEEBFF;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: row;

}

.main-container {
    display: flex;
    width: 1340px;
    height: 614px;
    margin: 0;
    box-sizing: border-box;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
}

.card-subtitle {
    font-size: 14px;
    gap: 8px;
}

/****** Hebergements ***********/
.hebergements {
    width: 871px;
    height: 614px;
    gap: 30px;
    border-radius: 15px;
    padding: 30px;
}

.card-h {
    width: 250px;
    height: 207.25px;
    gap: 4px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.item-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 33px;
}

.item-title {

    justify-content: space-between;
    align-items: center;
}

.item-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.item-cards img {

    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.item-cards .item-content {
    padding-right: 15px;
    padding-left: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}


.item-cards .item-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.item-cards .item-subtitle {
    margin: 0;
}

.item-cards .item-rating {
    margin-bottom: 5px;
}

.show-more {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Raleway;
}

/****** Populaires ***********/
.populaires {
    width: 429px;
    height: 614px;
    gap: 30px;
    border-radius: 15px;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}



.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*** Activites a Marseille ***/
.principal-title {
    font-family: Raleway;
    font-size: 22px;
    gap: 30px;
    grid-column: 1/ -1;
    padding: 30px;
}

.activites-a-marseille {
    margin-top: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.activites-a-marseille .activity {
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    overflow: hidden;
}

.activity .activity-content {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.activity-title {
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    size: 16px;
    width: 297.5px;
    height: 59px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 19px;
    padding-bottom: 20px;
    padding-left: 19px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.activity img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/***footer***/
.reference-site {
    background-color: #f2f2f2;
    max-width: 1340px;
    margin: 0 auto;
    padding: 40px 60px;
    display: flex;
    justify-content: flex-start;

}

.reference {
    display: flex;
    flex-direction: column;
    width: 446px;
    height: 163px;
    gap: 15px;
    padding: 20px;

}

.reference-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reference-title {
    font-weight: bold;
    font-size: 16px;
    font-family: Raleway, sans-serif;

}

.reference-subtitle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reference-subtitle li {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px)*/
@media (max-width: 767.98px) {}