@media (max-width: 1024px) {

    /***general***/
    main {
        margin: auto;
    }

    .main-container {
        margin-left: 0;
    }

    /***header & info-group***/
    .nav-bar {
        margin-left: auto;
    }

    .nav {
        display: flex;
    }

    .bar-filter {
        display: grid;
        padding: 0;
        margin: 0;
    }

    .info-group {
        margin-left: 0;
    }

    /***hebergements & populaires***/
    .card-h {
        height: 207.25px;
    }

    .main-container {
        display: grid;
        width: 100%;
        margin-left: 0;
    }

    .hebergements-and-populaires {
        width: 100%;
    }

    .hebergements {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .popular {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .card-link {
        flex: 1;
    }

    .card {
        width: 100%;
        height: 146px;
        max-width: 100%;
    }

    .popular-cards {
        display: flex;
        gap: 20px;
    }

    .popular img {
        width: 91.67px;
    }

    /***activites***/
    .activites-a-marseille {
        padding-right: 10px;
        margin-left: 0;
    }

    .activity-content {
        height: 23%;
    }

    .activity {
        max-width: 100%;
        height: 270px;
        flex: 1;
    }

    .activity-title {
        max-height: 60px;
    }
}